/node_modules
/dist
.parcel-cache
chapter2/node_modules/
chapter2/dist
chapter3/node_modules/
chapter3/dist
chapter4/node_modules/
chapter4/dist
chapter5/node_modules/
chapter5/dist
chapter6/node_modules/
chapter6/dist
chapter7/node_modules/
chapter7/dist
chapter8/node_modules/
chapter8/dist
chapter9/node_modules/
chapter9/dist
chapter10/node_modules/
chapter10/dist
chapter11/node_modules/
chapter11/dist